@using CRUDCORE.Controllers
@using Microsoft.Extensions.Options
@using Org.BouncyCastle.Asn1.Ocsp

@model List<ContactoModel>
@{
 


   
 

}



<div class="imgIndex">
    <a class="button" asp-controller= "Home" asp-action="Peliculas" style="position: absolute; left: 870px; top: 600px;"> <span class="button_top"> Ver Peliculas
  </span></a>
    
    <img src="https://images3.alphacoders.com/121/1213553.jpg" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; max-width: 2000px; margin-top:-30px;">
       
     
        


</div>



<div class="imgIndex">
     <a class="button" asp-controller= "Home" asp-action="Series" style="position: absolute; left: 870px; top: 1800px;"> <span class="button_top"> Ver Series
  </span></a>
  <img src="https://images6.alphacoders.com/820/820435.jpg" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; max-width: 2000px; margin-top:-30px;">
       
         


</div>


<div class="imgIndex">
     <a class="button" asp-controller= "Home" asp-action="Juegos" style="position: absolute; left: 870px; top: 3050px;"> <span class="button_top"> Ver Juegos
  </span></a>
  <img src="https://images8.alphacoders.com/118/1186452.jpg" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; max-width: 2000px; margin-top:-30px;">
       
        


</div>

